#body
{
    /*滚动条的万能比例：
滚动条高度/屏幕的高度=屏幕高度/内容高度=滚动条移动的距离/内容的滚动距离
*/

    /*为了让设置的overflow：hidden更有说服力，只有内容超出才会出现滚动条
    如果不设置的化那么高度就是子盒子的高度*/

    margin: 0;
    padding: 0;
    height: 100%;
    
    overflow: hidden;
    /* background-color: #bfa; */
    /* height: 1000px  */
}

ul,
li {
    list-style: none
}

a {
    text-decoration: none;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    /* height: 1500px; */
    
    /* overflow: hidden; */
    /* background-color: #bfa; */
    margin-right:5px; 
}

#wrap .scrollBar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background-color: #bff;
    border-left: 1px solid grey;
    border-right: 1px solid grey
}

#wrap .scrollBar .scrollIn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;

    background-color: #bfa;


}

#wrap .content {
    position: relative;
    top: 0;
    left: 0;
    height: 1500px;
   
    margin: 0
   ;
    /* background-color: pink; */
}
.scrollBar{
 
    margin: 0;
}